{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container beebook-form">
  {% if err_message %}
  <div class="alert alert-danger" role="alert">
    {{ err_message }}
  </div>
  {% endif %}
  <h2 class="title">{{ title }}</h2>
  <form action="" method="post" name="book_edit" class="obje-edit-form">
    <div class="form-group">
      <label for="book_name">Name</label>
      <input type="text" class="form-control" name="book_name" id="book_name" placeholder="Book Name" required="required" value="{{ values['book_name'] }}">
    </div>
    <div class="form-group">
      <label for="released_year">Year</label>
      <input type="number" class="form-control" name="released_year" id="released_year" placeholder="2011" min="{{ min_year }}" max="{{ max_year }}" required="required" value="{{ values['released_year'] }}">
    </div>
    <div class="form-group">
      <label for="explanation">Explanation</label>
      <textarea class="form-control" name="explanation" id="explanation" rows="3" required="required">{{ values['explanation'] }}</textarea>
    </div>
    <div class="form-group">
      <label for="selected_author_ids">Authors</label>
      <select class="form-control" id="selected_author_ids" name="selected_author_ids" size="5" multiple="multiple" tabindex="1" required="required">
        {% for author, person in authors %}
        {% if author.author_id in values['selected_author_ids'] %}
        <option value="{{ author.author_id }}" selected>{{ person.person_name }} {{ person.person_surname }}</option>
        {% else %}
        <option value="{{ author.author_id }}">{{ person.person_name }} {{ person.person_surname }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="selected_category_ids">Categories</label>
      <select class="form-control" id="selected_category_ids" name="selected_category_ids" size="5" multiple="multiple" tabindex="1" required="required">
        {% for category in categories %}
        {% if category.category_id in values['selected_category_ids'] %}
        <option value="{{ category.category_id }}" selected>{{ category.category_name }}</option>
        {% else %}
        <option value="{{ category.category_id }}">{{ category.category_name }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock %}