{% extends "layout.html" %}
{% block title %}Products list{% endblock %}
{% block content %}
{% if tables %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title">Products page</h2>
      <div class="table-responsive">
        <form action="" method="post" name="movie_list">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th>Book Name</th>
              <th>Edition</th>
              <th>Price</th>
              <th>Delete</th>
            </thead>
            <tbody>
              {% for product, edition, book in tables %}
              <tr>
                <td><a href="{{ url_for('book_page', book_key=book.book_id) }}">{{ book.book_name }}</a></td>
                <td><a href="{{ url_for('product_page', book_id=product.book_id, edition_number=product.edition_number) }}">{{ edition.edition_number }}</a></td>
                <td><a href="{{ url_for('product_page', book_id=product.book_id, edition_number=product.edition_number) }}">{{ product.actual_price }}</a></td>
                <td><p title="Delete"><a href="#"><button class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></button></a></p></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}