{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="title beebook-title-table">Book Information</h2>
      <table class="beebook-table-info table table-striped">
        <tr>
          <td style="width:40%; "><b>Book name: </b></td>
          <td>{{ book.book_name }}</td>
        </tr>
        <tr>
          <td><b>Authors: </b></td>
          <td>{{ (', ').join(authors) }}</td>
        </tr>
        <tr>
          <td><b>Categories: </b></td>
          <td>{% for category in categories %}{{ category.category_name }}, {% endfor %}</td>
        </tr>
        <tr>
          <td><b>Release Year: </b></td>
          <td>{{ book.release_year }}</td>
        </tr>
        <tr>
          <td><b>Explanation: </b></td>
          <td>{{ book.explanation }}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <h2 class="title beebook-title-table">Edition Information</h2>
      <table class="beebook-table-info table table-striped">
        <tr>
          <td style="width:40%; "><b>Edition Number: </b></td>
          <td>{{ edition.edition_number }}</td>
        </tr>
        <tr>
          <td><b>Release Year: </b></td>
          <td>{{ edition.publish_year }}</td>
        </tr>
        <tr>
          <td><b>ISBN: </b></td>
          <td>{{ edition.isbn }}</td>
        </tr>
        <tr>
          <td><b>Publisher: </b></td>
          <td>{{ edition.publish_year }}</td>
        </tr>
        <tr>
          <td><b>Number of Page: </b></td>
          <td>{{ edition.number_of_pages }}</td>
        </tr>
        <tr>
          <td><b>Language: </b></td>
          <td>{{ edition.language }}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <h2 class="title beebook-title-table">Product Information</h2>
      <table class="beebook-table-info table table-striped">
        <tr>
          <td style="width:40%; "><b>Price: </b></td>
          <td>{{ product.actual_price }}</td>
        </tr>
        <tr>
          <td><b>Sold: </b></td>
          <td>{{ product.number_of_sells }}</td>
        </tr>
        <tr>
          <td><b>Remaining: </b></td>
          <td>{{ product.remaining }}</td>
        </tr>
        <tr>
          <td><b>Date added: </b></td>
          <td>{{ product.date_added }}</td>
        </tr>
        <tr>
          <td><b>Explanation: </b></td>
          <td>{{ product.product_explanation }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="text-align: center;">
    {% if not product.is_active %}
    <div class="alert alert-warning beebook-width-325 container" role="alert">
      <h4>There is no sale of this product.</h4>
    </div>
    {% elif not current_user.is_authenticated %}
    <div class="alert alert-warning beebook-width-325 container" role="alert">
      <h4>Please <a href="{{ url_for('login_page') }}">Login</a> to buy this product</h4>
    </div>
    {% else %}
    {% if err_message %}
    <div class="alert alert-danger" role="alert">
      {{ err_message }}
    </div>
    {% endif %}
    <form class="form-inline" action="" method="post" name="add_to_cart" >
      <label class="sr-only" for="piece">Name</label>
      <div class="input-group">
        <span class="input-group-addon">Piece:</span>
        <input type="number" class="form-control" id="piece" name="piece" placeholder="Piece" required="required" value="1" min="1">
      </div>
      <button type="submit" class="btn btn-success my-1">Add to Cart</button>
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}