{% extends "layout.html" %}
{% block title %}Addresses list{% endblock %}
{% block content %}
    <h1 class="title">Addresses page</h1>
    {% if addresses %}
    <table class="table is-striped is-fullwidth">
        <tr>
            <th>Address ID</th>
            <th>Address Name</th>
            <th>Country</th>
            <th>City</th>
            <th>District</th>
            <th>Neighborhood</th>
            <th>Avenue</th>
            <th>Street</th>
            <th>Address Number</th>
            <th>Zipcode</th>
            <th>Explanation?</th>
        </tr>
        {% for address in addresses %}
        <tr>
            <td>{{ address.address_id }}</td>
            <td>{{ address.address_name }}</td>
            <td>{{ address.country }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.district }}</td>
            <td>{{ address.neighborhood }}</td>
            <td>{{ address.avenue }}</td>
            <td>{{ address.street }}</td>
            <td>{{ address.addr_number }}</td>
            <td>{{ address.zipcode }}</td>
            <td>{{ address.explanation }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}