{% extends "layout.html" %}
{% block title %}{{ book.book_name }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title">{{ book.book_name }}</h2>
      <table>
        <tr>
          <td><b>Name:</b></td>
          <td>{{ book.book_name }}</td>
        </tr>
        <tr>
          <td><b>Release Year:</b></td>
          <td>{{ book.release_year }}</td>
        </tr>
        <tr>
          <td><b>Explanation:</b></td>
          <td>{{ book.explanation }}</td>
        </tr>
      </table>

      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>Edition Number</th>
            <th>ISBN</th>
            <th>Publisher</th>
            <th>Publish Year</th>
            <th>Number of Pages</th>
            <th>Languages</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody>
            {% for edition in editions %}
            <tr>
              <td><input type="checkbox" class="checkthis" /></td>
              <td>{{ edition.edition_number }}</td>
              <td>{{ edition.isbn }}</td>
              <td>{{ edition.publisher }}</td>
              <td>{{ edition.publish_year }}</td>
              <td>{{ edition.number_of_pages }}</td>
              <td>{{ edition.language }}</td>
              <td><p title="Edit"><a href="#"><button class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button></a></p></td>
              <td><p title="Delete"><a href="#"><button class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></button></a></p></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p> Burada baskılar ve ya ürünler gösterilecek</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}