{% extends "layout.html" %}
{% block title %}{{ book[1].book_name }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title">{{ book[1].book_name }}</h2>
      <table>
        <tr>
          <td><bold>Name:</bold></td>
          <td>{{ book[1].book_name }}</td>
        </tr>
        <tr>
          <td><bold>Release Year:</bold></td>
          <td>{{ book[1].release_year }}</td>
        </tr>
        <tr>
          <td><bold>Explanation:</bold></td>
          <td>{{ book[1].explanation }}</td>
        </tr>
      </table>



      <div class="field is-grouped">
        <div class="control">
          <a class="button is-primary is-outlined is-small"
             href="{{ request.path }}/edit">Edit</a>
        </div>
      </div>



      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>ID</th>
            <th>Name</th>
            <th>Released</th>
            <th>Explanation</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" class="checkthis" /></td>
              <td>{{ book[0] }}</td>
              <td>{{ book[1].book_name }}</td>
              <td>{{ book[1].release_year }}</td>
              <td>{{ book[1].explanation }}</td>
              <td><p title="Edit"><a href="#"><button class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button></a></p></td>
              <td><p title="Delete"><a href="#"><button class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></button></a></p></td>
            </tr>
          </tbody>
        </table>
        <p> Burada baskılar ve ya ürünler gösterilecek</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}