{% extends "layout.html" %}
{% block title %}Books list{% endblock %}
{% block content %}
{% if books %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title">Books page</h2>
      <div class="table-responsive">
        <form action="" method="post" name="movie_list">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th><input type="checkbox" id="checkall" /></th>
              <th>ID</th>
              <th>Name</th>
              <th>Authors</th>
              <th>Released</th>
              <th>Explanation</th>
              <th>Edit</th>
              <th>Delete</th>
            </thead>
            <tbody>
              {% for book, authors in books %}
              <tr>
                <td><input type="checkbox" class="checkthis" name="book_keys" value="{{ book.book_id }}"/></td>
                <td>{{ book.book_id }}</td>
                <td><a href="{{ url_for('book_page', book_key=book.book_id) }}">{{ book.book_name }}</a></td>
                <td>{{ (', ').join(authors) }}</td>
                <td>{{ book.release_year }}</td>
                <td>{{ book.explanation }}</td>
                <td><a href="{{ url_for('book_page', book_key=book.book_id) }}/edit"><p title="Edit"><span class="glyphicon glyphicon-pencil btn btn-primary btn-xs"></span></p></a></td>
                <td><a href="{{ url_for('book_page', book_key=book.book_id) }}/delete"><p title="Delete"><span class="glyphicon glyphicon-trash btn btn-danger btn-xs"></span></p></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="field is-grouped">
            <div class="control">
              <button class="btn btn-danger btn-xs">Delete selected</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}