<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{% block title %}{% endblock %} - BeeBook</title>
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
		<link rel="stylesheet"
			href="{{ url_for('static', filename='mybooks.css') }}"/>
	</head>
	<body>
		<header>
			<nav class="navbar" aria-label="main navigation">
				<div class="navbar-brand">
					<span class="navbar-item">
						<a class="button is-link" href="{{ url_for('home_page') }}">Home</a>
					</span>
					<span class="navbar-item">
						<a class="button is-link" href="{{ url_for('books_page') }}">Books</a>
					</span>
					<span class="navbar-item">
						<a class="button is-link" href="{{ url_for('stores_page') }}">Stores</a>
					</span>
				</div>
			</nav>
		</header>

		<main>
			<section class="section">
				<div class="content">
					{% block content %}{% endblock %}
				</div>
			</section>
		</main>

		<footer class="footer">
			<div class="content">
				<small>&copy; 2018 Fall, Ahmed Yasin KUL - Muhammed YILMAZ</small>
			</div>
		</footer>
	</body>
</html>